<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>{{.Settings.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/main-{hash}.css" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="flex flex-col items-center">
    <nav>
      {{range .Pages}}
      <a href="/{{.}}">{{.}}</a>
      {{end}}
    </nav>
    <div class="content">
      {{if ne .QueryTag.ID 0}}
      <div class="current-tag" style="border-color: {{.QueryTag.Color}}">
        当前标签
        <a class="art-tag" style="color: {{.QueryTag.Color}}; border-color:{{.QueryTag.Color}}"
          >{{.QueryTag.Name}}</a
        >
        ，文章共计 {{.Pagination.Count}} 篇
      </div>
      {{end}}
      <div class="art">
        {{range .Articles}}
        <div class="art-item">
          <h1><a href="/post/{{.ID}}">{{.Title}}</a></h1>
          <div class="anno">
            <span>
              <mod-icon id="date"></mod-icon>
              {{.Created | formatDate | unsafeHTML}}</span
            >
            <span>
              <mod-icon id="tag"></mod-icon>
              {{range .Tags}}
              <a class="art-tag" href="/posts/tag/{{.Name}}" style="background-color: {{.Color}}"
                >{{.Name}}</a
              >
              {{end}}
            </span>
            <span class="rune">runes: {{.Rune}}</span>
          </div>
          {{if ne .Image ""}}
          <img loading="lazy" src="{{$.SystemSet.AttachmentCDN}}{{.Image}}" />
          {{end}}
          <p>{{.Summary}}</p>
        </div>
        {{end}}
      </div>
      <div class="flex justify-center">
        <mod-pager count="{{.Pagination.Count}}" currentPage="{{.Pagination.Page}}" />
      </div>
    </div>
    <mod-box height="{{.Settings.MarginBottom}}"></mod-box>
  </body>
  <div class="bg" style="{{.Settings.Background | unsafeCSS}}"></div>
  <mod-kit />
  <script src="/main-{hash}.js"></script>
  <script type="module" src="/mod/index-{hash}.js"></script>
  <script type="module" src="/mod/kit-{hash}.js"></script>
  <script type="module" src="/mod/pager-{hash}.js"></script>
</html>
