<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>{{.Article.Title}} | {{.Settings.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/style-{hash}.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="flex flex-col items-center">
    <nav>
      {{range .Pages}}
      <a href="/{{.}}">{{.}}</a>
      {{end}}
    </nav>
    <div class="content">
      <div class="art">
        <div class="art-item">
          <h1><a>{{.Article.Title}}</a></h1>
          <div class="anno">
            <span>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-date"></use>
              </svg>
              {{.Article.Created | formatDate | unsafeHTML}}</span
            >
            <span>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-tag"></use>
              </svg>
              {{range .Article.Tags}}
              <a class="art-tag" href="/posts/tag/{{.Name}}" style="background-color: {{.Color}}"
                >{{.Name}}</a
              >
              {{end}}
            </span>
          </div>
        </div>
        <div class="markdown-body">{{.Article.ArticleContent.HTML | unsafeHTML}}</div>
        <mod-comment id="{{.Article.ID}}" />
      </div>
    </div>
    <mod-box height="{{.Settings.MarginBottom}}"></mod-box>
  </body>
  <div class="bg" style="{{.Settings.Background | unsafeCSS}}"></div>
  <mod-kit />
  <script src="/main-{hash}.js"></script>
  <script type="module" src="/mod/index-{hash}.js"></script>
  <script type="module" src="/mod/kit-{hash}.js"></script>
  <script type="module" src="/mod/comment-{hash}.js"></script>
</html>
