<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>{{.Settings.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/v/main-{hash}.css" />
    <link rel="icon" href="/v/favicon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav>
      {{range .Pages}}<a href="/{{.}}">{{.}}</a>
      {{end}}
    </nav>
    <div class="content">
      {{if ne .QueryTag.ID 0}}
      <div class="current-tag" style="border-color: {{.QueryTag.Color}}">
        当前标签
        <mod-tag color="{{.QueryTag.Color}}">{{.QueryTag.Name}}</mod-tag>
        ，文章共计 {{.Pagination.Count}} 篇
      </div>
      {{end}}
      <div class="art">
        {{range .Articles}}
        <div class="art-item">
          <h1><a href="/post/{{.ID}}">{{.Title}}</a></h1>
          <div class="anno">
            <span>
              <mod-icon name="date"></mod-icon>
              {{.Created | formatDate | unsafeHTML}}</span
            >
            <span>
              <mod-icon name="tag"></mod-icon>
              {{range .Tags}}
              <mod-tag i="{{.ID}}" color="{{.Color}}">{{.Name}}</mod-tag>
              {{end}}
            </span>
            <span class="rune">runes: {{.Rune}}</span>
          </div>
          {{if ne .Image ""}}
          <img loading="lazy" src="{{$.SystemSet.AttachmentCDN}}{{.Image}}" />
          {{end}}
          <p>{{.Summary}}</p>
        </div>
        {{end}}
      </div>
      <div class="flex justify-center">
        <mod-pager
          count="{{.Pagination.Count}}"
          currentPage="{{.Pagination.Page}}"
          pageSize="{{.Pagination.PageSize}}"
        />
      </div>
    </div>
    <mod-box h="{{.Settings.MarginBottom}}"></mod-box>
  </body>
  <div class="bg" style="{{.Settings.Background | unsafeCSS}}"></div>
  <mod-kit />
  <script src="/v/main-{hash}.js"></script>
  <script type="module" src="/v/mod/index-{hash}.js"></script>
  <script type="module" src="/v/mod/kit-{hash}.js"></script>
  <script type="module" src="/v/mod/pager-{hash}.js"></script>
</html>
