<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>gists | {{.Settings.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/style-{hash}.css" />
  </head>
  <body class="flex flex-col items-center">
    <nav>
      {{range .Pages}}
      <a href="/{{.}}">{{.}}</a>
      {{end}}
    </nav>
    <div class="content" style="margin-bottom: {{.Settings.MarginBottom}}px">
      <mod-gist cdn="{{.SystemSet.AttachmentCDN}}" />
    </div>
  </body>
  <div
    class="bg"
    {{if ne .Settings.Background ""}}
    style="{{.Settings.Background | unsafeCSS}}"
    {{end}}
  ></div>
  <mod-kit />
  <script src="/main-{hash}.js"></script>
  <script type="module" src="/mod/index-{hash}.js"></script>
  <script type="module" src="/mod/kit-{hash}.js"></script>
  <script type="module" src="/mod/gist-{hash}.js"></script>
</html>
