<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>gists | {{.Settings.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/v/main-{hash}.css" />
    <link rel="icon" href="/v/favicon.svg" type="image/svg+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="flex flex-col items-center">
    <nav>
      {{range .Pages}}<a href="/{{.}}">{{.}}</a>
      {{end}}
    </nav>
    <div class="content">
      <mod-gist cdn="{{.SystemSet.AttachmentCDN}}" />
    </div>
    <mod-box h="{{.Settings.MarginBottom}}"></mod-box>
  </body>
  <div class="bg" style="{{.Settings.Background | unsafeCSS}}"></div>
  <mod-kit />
  <script src="/v/main-{hash}.js"></script>
  <script type="module" src="/v/mod/index-{hash}.js"></script>
  <script type="module" src="/v/mod/kit-{hash}.js"></script>
  <script type="module" src="/v/mod/gist-{hash}.js"></script>
</html>
