.carta-theme__gist {
  --caret-color: #161616;

  --caret-color-dark: #ffffff;
}

.carta-theme__gist .carta-toolbar-left button {
  font-size: 0.85rem;
  padding: 0 5px;
  margin: 0 2px;
  @apply bg-muted text-muted-foreground border-b-2 border-b-muted;
}

.carta-theme__gist .carta-toolbar-left .carta-active {
  @apply border-b-muted-foreground/50
}

/* Text settings */
.carta-theme__gist .carta-input {
  caret-color: var(--caret-color);
  margin-bottom: -17px;
}
html.dark .carta-theme__gist .carta-input {
  caret-color: var(--caret-color-dark);
}

.carta-theme__gist .carta-input-wrapper, .carta-theme__gist .carta-renderer {
  padding: 6px 2px 0
}

.carta-theme__gist .carta-renderer {
  max-height: 450px;
  overflow: auto;
}

html.dark .shiki,
html.dark .carta-input-wrapper span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}
