.carta-theme__gist {
  --caret-color: #161616;

  --caret-color-dark: #ffffff;
}

/* Text settings */
.carta-theme__gist .carta-input {
  caret-color: var(--caret-color);
  margin-bottom: -10px;
}
html.dark .carta-theme__gist .carta-input {
  caret-color: var(--caret-color-dark);
}

/** left button */
.carta-theme__gist .carta-toolbar-left button {
  font-size: 0.8rem;
  padding: 2px 6px 1px;
  @apply border-b-2 border-b-muted bg-muted text-primary/90;
}

.carta-theme__gist .carta-toolbar-left .carta-active {
  @apply border-b-muted-foreground;
}

/** container */
.carta-theme__gist .carta-container {
  min-height: 90px;
  margin-bottom: 6px;
}

/** editor and preview */
.carta-theme__gist .carta-input-wrapper,
.carta-theme__gist .carta-renderer {
  padding: 6px 2px 0;
  max-height: 60vh;
  overflow: auto;
}

.carta-theme__gist .carta-input-wrapper {
  @apply overflow-auto rounded border px-2;
}

.carta-theme__gist .carta-input-wrapper:focus-within {
  @apply border-primary;
}

.carta-theme__gist .carta-renderer {
}

html.dark .shiki,
html.dark .shiki code span,
html.dark .carta-input-wrapper span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}
