data
log
blog.sql

.idea

# docker

password.txt
docker/write/main
docker/write/write
docker/write/web/
docker/write/config/

# write

write/main
write/linux_amd64_api
write/.mod
write/static
write/log
write/data
write/options/.ini

# read

read/vendor
read/node_modules
read/package-lock.json
read/public/dist
read/public/adminer.php
read/app/view/dist
