data
log

.idea

# docker

docker/write/main
docker/write/write
docker/write/web/
docker/write/config/

# write

write/static
write/main
write/log
write/data

# read

read/vendor
read/node_modules
read/package-lock.json
read/public/dist
