@charset "UTF-8";

body,h1,h2,h3,h4,h5,h6,p,form,blockquote,pre {
    margin: 0;
}

ol,ul,li {
    padding: 0;
    margin: 0
}

/* 缝缝补补还能用，诶嘿 */
:root{
    --main-color: #233;
    --mask-color: #555;
    --read-color: #202020;
    --read-link-color: #00a1d6;
    --read-bold-color: #111;
    --md-code-color: #f04a62;
    --md-code-bg-color: rgba(0,0,0,.04);
    --md-bq-opacity: .01;
    --md-bq-color: 81,91,212;
    --md-bq-success-color: 150,193,32;
    --md-bq-warning-color: 255,217,114;
    --md-bq-danger-color: 221,42,123;
    --md-bq-info-color: 129,52,175;
    --md-pre-copy-btn-color: #f875aa;
    --ui-font: 'Space Mono'/* , monospace */;
    --read-font: 'Work Sans'/* , sans-serif */;
    --system-font: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}
