.carta-theme__custom {
  --caret-color: #161616;

  --caret-color-dark: #ffffff;
}

.carta-theme__custom.carta-editor {
}

/* Box sizings */
.carta-theme__custom .carta-toolbar {
	@apply border-2
}

.carta-theme__custom .carta-wrapper {
  padding: 0 1rem 0 1rem;
}

.carta-theme__custom .carta-container > * {
  margin: 5px 0 0;
}

/* Text settings */
.carta-theme__custom .carta-input {
  font-size: 0.95rem;
  caret-color: var(--caret-color);
}
html.dark .carta-theme__custom .carta-input {
  caret-color: var(--caret-color-dark);
}

.carta-theme__custom .carta-input ::placeholder {
}

/* Splitter */
.carta-theme__custom .mode-split.carta-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
	width: 0px;
  background: white
}

.carta-theme__custom .mode-split .carta-input {
  padding-right: 1rem;
}

.carta-theme__custom .mode-split .carta-renderer {
  padding-left: 1rem;
}

/* Toolbar */
.carta-theme__custom .carta-toolbar {
  padding: 0 12px;
}

.carta-theme__custom .carta-toolbar-left {
  display: flex;
  align-items: flex-end;
}

.carta-theme__custom button {
}

/* Markdown input and renderer */
.carta-theme__custom .carta-input,
.carta-theme__custom .carta-renderer {
  height: 93vh;
  overflow-y: scroll;
}

/* Icons */
.carta-theme__custom .carta-icon,
.carta-theme__custom .carta-icon-full {
  border: 0;
  background: transparent;
}

.carta-theme__custom .carta-icon-full {
  padding: 6px 4px;
}

.carta-theme__custom .carta-icon-full span {
  margin-left: 6px;
}

.carta-theme__custom .carta-icon:hover,
.carta-theme__custom .carta-icon-full:hover {
	@apply text-background bg-foreground
}

.carta-input > pre {
  background: inherit;
}

.carta-theme__custom .carta-icons-menu {
}

.carta-theme__custom .carta-icons-menu .carta-icon-full {
}

.carta-theme__custom .carta-icons-menu .carta-icon-full:first-child {
}

/* Buttons */
.carta-theme__custom .carta-toolbar-left button {
  background: none;
  border: none;
  font-size: 0.9rem;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  margin-right: 12px;
  cursor: pointer;
}

.carta-theme__custom .carta-toolbar-left button:last-child {
  margin-right: 0;
}

.carta-theme__custom .carta-toolbar-left button.carta-active {
  font-weight: 600;
}

html.dark .shiki,
html.dark .carta-input-wrapper span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}
