.about .markdown-body {
  margin: 15px 12px 40px;
}
.about .markdown-body h1 {
    display: flex;
    justify-content: center;
  border-bottom: 1px solid var(--border);
  padding-bottom: 5px;
}
.about .markdown-body h1 img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.about .markdown-body h2 {
  font-weight: normal;
}
.about .markdown-body h2 svg {
  margin-right: 5px;
}
