/* Atomic CSS 适合已有基础样式库的情况分层堆砌，完全用原子类写起来太累了 */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}