/*
    CodeMirror edit article css
*/
.cm-s-edit {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    width: 800px;
    margin: 0 auto 30px;
    font-size: 1.08em;
    padding: 10px;
}

/* base style */
.cm-s-edit.CodeMirror {
    background: #fafafa;
    color: #606266;
    height: auto;
}
.cm-s-edit .CodeMirror-gutters {
    visibility:hidden
}

.cm-s-edit .CodeMirror-linenumber {
    text-align: center;
}

/* cursor aqua *-* */
.cm-s-edit .cm-fat-cursor-mark {
    background-color: aqua;
}

/* header */
.cm-s-edit span.cm-header {
}
.cm-s-edit span.cm-header-1 {
    color: #111;
}
.cm-s-edit span.cm-header-2 {
    color: #222;
}
.cm-s-edit span.cm-header-3 {
    color: #333;
}
.cm-s-edit span.cm-header-4 {
    color: #444;
}
.cm-s-edit span.cm-header-5 {
    color: #555;
}

/* list */
.cm-s-edit span.cm-variable-2 {
}

/* code */
.cm-s-edit span.cm-comment {
    color: #111;
    font: .9em Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
}

/* 粗体和斜体 */
.cm-s-edit span.cm-strong {

}
.cm-s-edit span.cm-em {

}

.cm-s-edit span.cm-link {
    color: #00a1d6;
}
.cm-s-edit span.cm-url {
    font-size: 17px;
}

.cm-s-edit span.cm-quote {
    color: #fd5e53;
}

.cm-s-edit div.CodeMirror-selected {
    background: #505350!important;
}

.cm-s-edit span.CodeMirror-matchingbracket {
    color: #444 !important;
    font-weight: 700 !important;
    padding: 0 1px;
}
