/* ---------------------------------------------- */
.markdown .cursor::after {
    content:'';
    background-color: aqua;
    display: inline-block;
    width: 2px;
    height: 18px;
    position: relative;
    top: 3px;
    margin: 0 2px;
    animation: blink 1s infinite steps(1, start);
    -webkit-animation: blink 1s infinite steps(1, start);
}
.markdown h1,h2,h3,h4,h5,h6,p,form,blockquote {
    margin: 0;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif
}
.markdown ol,ul,li {
    padding: 0;
    margin: 0
}

.markdown a {
    outline: 0;
    color: #00a1d6;
    text-decoration: none;
    cursor: pointer;
}
.markdown pre code {
    color:#ddd;
}
/* ------------------------------------------------- */
.markdown{
    font-size: 15px;
    margin-top: 26px;
}
.markdown a:hover{
    text-decoration: underline;
}
.markdown a {
    font-size: .93em;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4{
    color: #555;
}
.markdown h1{
    padding: 7px 7px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 13px;
    font-size: 19px;
    cursor: pointer;
}
.markdown h2{
    padding: 5px 4px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #111;
    font-weight: 400;
    position: relative;
}
.markdown h2:before{
    content: '#';
    font-size: 18px;
    color: #eb5055;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: -15px;
}
.markdown h3{
    padding: 4px 12px;
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    position: relative;
}
.markdown h3:before{
    content: '@';
    font-size: 19px;
    color: #9b45e4;
    position: absolute;
    top: 5px;
    left: -7px;
}
.markdown p{
    font-size: 1.19em;
    line-height: 1.5;
    color: #233;
    margin-bottom: 19px;
}
.markdown ul, .markdown ol{
    margin: 16px 18px;
    font-size: 1.15em;
    color: #2b2c25;
}
.markdown ul li,.markdown ol li{
    margin-bottom: 5px;
    padding-left: 5px;
}
.markdown ul li{
    margin-left: 15px;
    list-style-type: disc !important;
}
.markdown ol li{
    margin-left: 16px;
    list-style-type: decimal !important;
}
.markdown img{
    max-width: 100%;
    padding-top: 4px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.2) 0 1px 1px;
}
.markdown blockquote{
    margin: 15px 4px;
    padding: 10px;
    color: #111;
    border-left: 5px solid #409EFF;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.6;
    background-color: #f8f8f8;
    letter-spacing: .05em;
}
.markdown .success {
    border-left-color: #67C23A;
}
.markdown .warning {
    border-left-color: #E6A23C;
}
.markdown .danger {
    border-left-color: #F56C6C;
}
.markdown .info {
    border-left-color: #909399;
}

.markdown hr{
    margin-bottom: 10px;
    height: 0.15em;
    background-color: #e7e7e7;
    border: 0;
}
.markdown br{
    margin-bottom: 3px;
}
.markdown ._c{
    overflow: auto;
    word-wrap:break-word;
    font: .9em Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
    padding: .2em .4em .1em;
    background-color: rgba(0,0,0,0.05);
    border-radius: 3px;
    margin: 0 .2em;
}
.markdown pre{
    overflow: auto;
    word-wrap: break-word;
    line-height: 1.1;
    padding: 16px 16px 12px;
    overflow: auto;
    border-radius: 3px;
    background-color: #282828;
    margin: 15px 0 22px;
}
.markdown pre code{
    font: 16px Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
    padding-bottom: 12px;
}
.markdown table{
    margin-bottom: 10px;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font: 16px, -apple-system, "Roboto Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
}
.markdown table th {
    font-weight: 600;
}
.markdown table th,
.markdown table td {
    padding: 8px 14px;
    border: 1px solid #dfe2e5;
}

.markdown table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}