.comment{
    width: 100%;
    margin: 40px 40px 50px;
}
.comment #to_name{
    display: block;
    margin: 5px;
    color: #6a097d;
    font-size: 15px;
}
.comment #to_name a{
    color: #c70039;
    margin-left: 5px;
}
.comment #to_name a:hover {
    color: #f40552;
}
.comment input, .comment textarea{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}
.comment label{
    display: inline-block;
    font-size: 15px;
    margin-left: 3px;
}
.m-l .comment label{
    width: 11%;
}
.comment #name{
    width: 20%;
    margin-right: 3%;
}
.comment #email{
    width: 30%;
}
.comment #name, .comment #email{
    height: 20px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 3px;
    outline: none;
    transition: border-color .3s;
}
.comment #name:focus, .comment #email:focus, .comment textarea:focus {
    border-color: #ff1493;
}
.comment .exp-p{
    width: 665px;
    height: 113px;
    position: absolute;
    padding: 14px 6px 7px;
    background-color: rgba(255, 255, 255, .9);
}
.comment .exp-p a{
    margin: 4px 6px;
    display: inline-block;
    color: #393232;
    font-family: 'Roboto Mono';
    font-size: 13px;
    line-height: 20px;
}
.comment .exp-p a:hover{
    color: #ff1493;
    font-weight: 400;
}
.comment textarea{
    outline: none;
    transition: border-color .3s;
    width: 83%;
    height: 111px;
    margin-top: 10px;
    padding: 5px 11px;
    color: #444;
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .3);
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Roboto Mono';
}
.comment .submit , .comment .exp{
    font-family: "Microsoft YaHei Light";
    border: 1px solid #999;
    color: #333;
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s
}
.comment .submit:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.comment .submit{
    padding: 5px 0 4px;
    width: 59px;
    margin-left: 1%;
}
.comment .exp{
    padding: 5px 0 4px;
    width: 66px;
    margin-left: 66%;
}
.comment .exp:hover{
    background-color: #555;
    border-color: #555;
    color: #fff;
}
.com-list{
    width: 92%;
    margin-top: 30px;
}
.com {
    padding: 20px 5px 1px;
    margin-top: 28px;
    border-top: 1px solid rgba(100, 100, 100,.11);
}
.com img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.com a{
    margin-top: 4px;
    height: 18px;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 13px;
    color: #777;
}
.com b {
    font-weight: normal;
    font-family: 'Space Mono',monospace;
    margin: 0 2px 0 6px;
    color: #777;
}
.com .repl_name {
    color: #333;
}
.com .repl{
    float: right;
    font-size: 12px;
    letter-spacing: 2px;
    color: #888
}
.com span{
    height: 18px;
    display: block;
    color: #acacac
}
.com p{
    margin-right: 30px;
    padding: 10px 5px 0;
}
.com > .com{
    margin-left: 33px;
}
.more_a{
    display: none;
    position: relative;
    background: hsla(0,0%,100%,.9);
    padding: 5px;
    text-align: center;
    color: #555;
    font-size: 13px;
}
.more_a:hover{
    text-decoration: underline;
}
.more_a::after{
    content: '\00a0'
}
.more_a::before{
    content: '\00a0'
}
.c-name {
    color: #233;
}
.repl_line {
    width: 1px;
    height: 1px;
    background: rgba(100, 100, 100, .15);
    position: absolute;
    visibility: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}
.repl_line a {
    position: absolute;
    bottom: -18px;
    right: -9px;
    color: #ff005c;
}
@media screen and (max-width: 750px){
    .comment label{
        display: block;
        margin: 5px 3px;
    }
    .comment #name{
        width: 85%;
    }
    .comment #email{
        width: 85%;
    }
    .comment textarea{
        width: 90%;
    }
    .comment .exp{
        margin-left: 45% !important;
    }
    .comment .exp-p{
        width: 92%;
        padding-top: 0;
    }
    .comment .exp-p a{
        margin: 1px 6px;
    }
    .comment .submit{
        margin-left: 1%;
    }
}
