/** 夜间样式 **/

#header, 
#content, 
.markdown table tr,
html, body, input, textarea, select, button {
    background-color: #181a1b !important;
    color: #c8dae2
}
.tag:hover {
    background-color: #181a1b !important;
}
.an {
    position: unset;
}

#header {
    margin-bottom: -17px;
}

#header .nav ul li a,
#header .nav ul li a:hover,
.markdown > p,
#content .article .summary p {
    color: #c8c3bc;
}

#content .article h1 a,
.summary.markdown li, 
.page ul li a,
.tag-banner {
    color: #c8dae2
}

#content .article, .tag,
#content .article .summary,
.tag-banner .t {
    border-color: #181a1b;
}

.tag-banner .c {
    background-color: rgb(34, 36, 38);
}

#content .article h1 a:hover {
    color: #4fb4f5;
    transition: .25s;
}

.markdown table td, .markdown table th {
    border-color: rgb(56 61 63);
}

.page ul li a {
    border-color: rgb(67, 73, 76);
    color: rgb(188, 182, 173);
}

.page ul li a:hover {
    background-color: rgb(64, 69, 72);
    color: rgb(232, 230, 227);
}

#header .nav ul li a::before {
    background-color: #c8dae2;
}

#content .article .mark {
    color: rgb(221, 218, 214);
}

/** markdown **/

.markdown h1 {
    color: #fff;
}
.markdown h2 {
    color: #eee;
}
.markdown h3 {
    color: #ddd;
}
.markdown b {
    color: #ddd;
}
.markdown li, .markdown ol {
    color: #c8c3bc;
}

.cl-bg , .cl-bg:hover{
    border: none;
}

.markdown hr {
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-top-color: rgb(55, 59, 62);
}

.markdown code {
    background-color: inherit;
}

.article-block .markdown pre {
    background-color: #1d2021;
}

.article-block blockquote {
    color: rgb(189, 183, 175) !important;
    background-color: #111 !important;;
}


#content .agreement {
    border-top-color: rgb(53, 57, 59);
    border-bottom-color: rgb(53, 57, 59);
    color: rgb(232, 230, 227);
}

.com {
    border-top-color: rgb(56, 61, 63);
}
.com a {
    color: #00a1d6 !important;
}
.com a::after {
    content: "";
}
.comment #to_name, .comment .c-name {
    color: inherit;
}
.c-md:hover {
    border: 1px solid #555;
}
.comment .submit:hover {
    border-color: #bbb;
}
.comment textarea ,
.comment #email, .comment #name {
    color: #eee;
    border: 1px solid #999;
}
.comment #email:focus, .comment #name:focus, .comment textarea:focus {
    border-color: #ccc;
}
.comment .exp-p {
    background-color: rgba(24,26,27,.9);
}
.comment .exp, .comment .submit {
    border-color: #999;
}

/** code **/

.search-input input {
    color: rgb(188, 182, 174);
}
.search-result blockquote {
    color: rgb(178, 172, 162);
}
.search-result .tags {
    background-color: rgb(24, 26, 27);
    border-color: rgb(57, 62, 64);
    color: rgb(165, 157, 145);
}
.search-result pre {
    border-color: rgb(58, 62, 65);
}
.search-item .hljs ol li .cl {
    color: rgb(178, 172, 162);
}
.search-item .hljs-string {
    color: rgb(200, 195, 188) !important;
}
.search-item .hljs ol li {
    color: rgba(212, 209, 203, 0.3);
}
.search-item .markdown blockquote {
    background-color: #111 !important;;
}
.search-item .hljs {
    color: #ff4301 !important;
}
.search-item .markdown pre code {
    background-color: #181a1b !important;
}
.search-item .markdown blockquote.book {
    color: rgb(178, 172, 162);
}
.search-item .hljs-comment {
    color: #555 !important;
}
.search-item .summary.markdown pre {
    background-color: #1d2021;
}
.search-item .hljs-keyword, .hljs-selector-tag, .hljs-type {
    color: rgb(218, 75, 88) !important;
}
.search-item .hljs-literal, .hljs-symbol, .hljs-bullet, .hljs-attribute {
    color: rgb(79, 211, 255) !important;
}
.search-item .hljs-number {
    color: rgb(86, 177, 255) !important;
}
.search-result .next a {
    color: rgb(129, 70, 255) !important;
}
.more_a {
    color: rgb(129, 70, 255) !important;
}

.search-input input:focus, .search-result em {
    border-color: #ff005c;
}

/** link **/

.link-block .markdown h1 {
    border-bottom-color: rgb(53, 57, 59);
    color: rgb(205, 201, 194);
}
.link-block .markdown blockquote {
    color: rgb(189, 183, 175) !important;
    list-style-image: initial;
    border-color: rgb(54, 59, 61);
    background-color: rgb(24, 26, 27) !important;
}
.link-block .markdown blockquote code {
    background-color: rgb(24, 26, 27);
    color: rgb(178, 172, 162);
}
.link-block .markdown h3 {
    color: rgb(157, 148, 136);
}
.link-block a {
    outline-color: initial;
    color: rgb(54, 205, 255);
    text-decoration-color: initial;
}

/** about **/

.about-block .markdown h2 {
    color: rgb(49, 250, 243);
}
.about-block a {
    outline-color: initial;
    color: rgb(54, 205, 255);
    text-decoration-color: initial;
}
.about-block .markdown h3 {
    color: rgb(243, 88, 138);
}
.about-block .markdown blockquote {
    background-color: #181a1b !important;
    color: #888;
}
.about-block .markdown blockquote.info {
    border-color: rgb(217, 0, 217);
    background-color: #1d2021 !important;
}

/* .about-block .markdown blockquote.ab-icon { */
/*     background-color: #777;                 */
/*     margin-top: 30px;                       */
/*     padding: 2px;                           */
/* }                                           */

.about-block .markdown h1 {
    border-bottom-color: #393e40;
    margin: auto 37px;
    padding-bottom: 13px;
}

#up a {
    /* border-color: rgb(134, 125, 110); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    color: rgb(232, 230, 227);
}

::selection {
    background: #fff;
    color: #111
}

::-moz-selection {
    background: #fff;
    color: #111
}

::-webkit-selection {
    background: #fff;
    color: #111
}
