@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p,form,blockquote {
    margin: 0;
    font-family: 'Roboto Mono',Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif
}

ol,ul,li {
    padding: 0;
    margin: 0
}

a {
    outline: 0;
    color: #00a1d6;
    text-decoration: none;
    cursor: pointer;
}

html {
    font-size: 14px;
    background: #fff;
    color: #233;
    height:100%;
}

.an {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -9;
    top: 0;
    background: url(https://kicoe-blog.oss-cn-shanghai.aliyuncs.com/gFjsJhJcSZCsIyBGbLVL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:alpha(opacity=90);  
    opacity: 0.9;
}

body {
    min-height:92%;
    margin:0;
    padding:0;
    position:relative;
}

#bg {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
    text-align: center;
    z-index: 2233;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.cl-bg {
    border: 1px solid #fff;
    transition: 0.4s;
}
.cl-bg:hover {
    cursor: pointer;
    border: 1px solid #ddd;
}

#bg img {
    max-width: 98%;
    position: relative;
    border-radius: 4px;
}

#header {
    height: 44px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    width: 777px;
    margin: 47px auto 42px;
    padding: 2px 45px;
    border-radius: 3px;
    color: #222;
    z-index: 99
}

#header .nav {
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    position: relative
}

#header .nav ul, .page ul {
    display: block;
    text-align: center
}

#header .nav ul li, .page ul li {
    display: inline;
    text-align: center
}

#header .nav ul li a {
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
    width: 52px;
    position: relative;
    padding: 2px 10px;
    display: inline-block;
    font-size: 17px;
    font-weight: 200;
    color: #666;
    transition: 0.5s
}

#header .nav ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 7px;
    left: 0;
    background-color: #111;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
#header .nav ul li a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#header .nav ul li a:hover {
    color: #333;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

#content {
    width: 777px;
    min-height: 300px;
    margin: 30px auto 30px;
    background-color: #fff;
    padding: 20px 45px 20px;
    border-radius: 3px;
}

#content .article {
    width: 100%;
    margin-top: 19px;
}

#content .article h1 {
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 120%;
}

#content .article h1 a {
    color: #444;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    font-size: 20px;
    padding: 1px 5px;
}

#content .article h1 a:hover{
    color: #888;
    transition: 0.3s;
}

#content .article h1 a i{
    font-style: normal;
    font-size: .8em;
}

#content .article .mark {
    margin: 5px 0 3px 5px;
    letter-spacing: 1px;
    color: #707070
}

.tag {
    letter-spacing: 0;
    background-color: #56c4e1;
    display: inline-block;
    margin-left: 0.3rem;
    padding: .3rem .5em;
    min-width: 2.1rem;
    text-align: center;
    line-height: 1;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
}

.summary {
    word-wrap: break-word;
}

.summary.markdown p {
    font-size: 16px;
}
.summary.markdown p {
    padding: 0;
    margin: 0;
}
.summary.markdown pre {
    margin: 5px 0;
    background-color: #322931;
}
.summary.markdown blockquote {
    margin: 5px 0 1px;
}
.summary.markdown table {
    width: 100%;
    margin: 5px;
    font-size: 15px;
    
}
.summary.markdown table td {
    padding: 5px 15px;
}
.summary.markdown ul {
    margin: 10px 0 0 !important;
}
.summary.markdown li {
    margin: 3px 0 !important;
    font-size: 16px;
    color: #444;
    list-style-type: circle!important;
}
#content .article .summary {
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .1);
    margin-top: 9px;
    letter-spacing: 1px;
    line-height: 1.7;
    color: #111;
    font-size: 16px;
    padding-bottom: 19px;
    border-bottom: 1.2px solid #eee;
}
.article-list .article:last-child .summary {
    border-bottom: 0!important;
}
#content .article .summary img {
    width: 100%;
    border-radius: 6px;
    margin-top: 4px;
    box-shadow: rgba(0,0,0,0.2) 0 1px 1px;
}

#content .parse-info {
    background-color: #f5f8fc;
    text-align: center;
    margin: 80px 76px 0 36px;
    border-radius: 1px;
    padding: 5px 0;
    color: #8796a8;
}
#content .parse-info a:hover {
    color: #fe346e;
}
#content .agreement {
    text-align: center;
    margin: 63px 76px 0 36px;
    padding: 13px 0 13px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
#content .agreement a {
    color: darkorchid;
    transition: .2s;
}
#content .agreement a:hover {
    color: #f67280;
    text-decoration: underline;
    transition: .4s;
}
.page {
    padding-bottom: 10px;
}

.page ul {
    text-align: center;
    margin-left: 3px
}

.page ul li a {
    margin: 10px 4px;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #bbb;
    transition: 0.5s;
    color: #464646
}

.page ul li a:hover {
    background-color: #555;
    color: #fff
}

.page ul li span {
    margin: 1px 7px;
    font-weight: 700;
}

#footer {
    position:absolute;
    bottom: 0;
    padding-top: 12px;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #fbfbfb
}

#footer span {
    color: #666
}

#footer .f_en {
    font-size: 15px;
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    text-align: center;
    z-index: 99;
    display: none;
    animation: fade-in;
    animation-duration: 1.5s;
    -webkit-animation: fade-in 1.5s
}

#up a {
    border: 1px solid #111;
    width: 32px;
    height: 32px;
    line-height: 36px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: rgba(0,0,0,0.4) 0 1px 2px;
    transition: 0.4s;
    color: #000;
}

#up a:hover {
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 750px) {
    #content {
        width: 100% !important;
    }

    .article h1 a {
        font-size: 18px !important;
    }
    .article .summary {
        font-size: 15px;
    }
    .markdown h1,.markdown h2,.markdown h3,.markdown h4 {
        font-size: 17px !important;
    }
    .markdown p {
        font-size: 15px !important;
    }
    .markdown table td {
        font-size: 14px !important;
    }
    .markdown ul, .markdown ol{
        font-size: 1em !important;
    }
    .markdown pre code {
        font-size: 15px !important;
    }
    .markdown blockquote {
        font-size: 13px !important;
        line-height: 1.4 !important;
    }
    .markdown h2:before{
        top: 3px !important;
        left: -10px !important;
    }

    .search-item {
        margin: 0 6px;
    }

    #content .article {
        width: auto;
        padding: 0 10px
    }

    #content .markdown {
        width: auto;
        padding: 0 10px
    }

    #content .comment {
        width: auto;
        padding: 0 10px
    }

    #up {
        left: 0;
        right: 0;
        margin: auto;
        bottom: 2px
    }

    #up a {
        width: 50px;
        border-radius: 3px;
        background-color: #fff
    }

    .p_up {
        bottom: 32px!important
    }
  
    ::-webkit-scrollbar {
        height: 3px!important
    }
}

::selection {
    background: #222;
    color: #fff
}

::-moz-selection {
    background: #222;
    color: #fff
}

::-webkit-selection {
    background: #222;
    color: #fff
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
}