.markdown{
    font-size: 15px;
    margin-top: 26px;
    letter-spacing: .01em;
}
.markdown a:hover{
    text-decoration: underline;
}
.markdown a {
    margin: 0 2px;
}
.markdown h1, .markdown h2, .markdown h3{
    color: #555;
}
.markdown h4 {
    color: #444;
    border-bottom: 1.5px solid #555;
    display: inline-block;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.markdown h1{
    padding: 7px 7px;
    border-bottom: 1px solid #e7e7e7;
    margin: 15px 0 15px;
    font-size: 18px;
    cursor: pointer;
}
.markdown h2{
    padding: 5px 4px;
    font-size: 17px;
    margin: 20px 0 10px;
    color: #050505;
    font-weight: 400;
    position: relative;
}
.markdown h2:before{
    content: '#';
    font-size: 17px;
    color: rgb(235 80 85 / 85%);;
    font-weight: 600;
    position: absolute;
    top: 6px;
    left: -13px;
}
.markdown h3{
    padding: 4px 12px;
    font-size: 16px;
    margin: 15px 0 10px;
    color: #181818;
    font-weight: 400;
    position: relative;
}
.markdown h3:before{
    content: '*';
    font-size: 21px;
    color: #9b45e4;
    position: absolute;
    top: 4px;
    left: -5px;
}
@keyframes anchorTarget {
    0%{
        color: #000;
    }
    40% {
        color: #fff;
    }
    100%{
        color: #000;
    }
}
/* .markdown h1:target,
.markdown h2:target,
.markdown h3:target,
.markdown h4:target,
.target:target {
    padding-top: 124px;
    margin-top: -120px;
    color: #000;
    animation: anchorTarget .9s linear;
    z-index: -9;
}
.markdown h1:target:before,
.markdown h2:target:before,
.markdown h3:target:before,
.markdown h4:target:before,
.target:before {
    padding-top: 120px;
} */
.markdown b {
    padding: 0 2px;
    color: #555;
    font-size: 15px;
}
.markdown>p{
    font-size: 16px;
    line-height: 1.77;
    color: #222;
    margin-bottom: 19px;
}
.markdown ul, .markdown ol{
    margin: 18px 0;
    font-size: 16px;
    padding-left: 2em;
}
.markdown ul li,.markdown ol li{
    margin-bottom: 7px;
    padding-left: 5px;
}
.markdown ul li{
    list-style-type: disc !important;
}
.markdown ol li{
    list-style-type: decimal !important;
}
.markdown ul ul li, .markdown ol ul li {
    list-style-type: circle !important;
}
.markdown ol ol li {
    list-style-type: lower-alpha !important;
}
.markdown ul ol li {
    list-style-type: lower-roman !important;
}
.markdown ul ul ul li {
    list-style-type: square !important;
}
.markdown img{
    max-width: 100%;
    padding-top: 4px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.2) 0 1px 1px;
}
.markdown blockquote{
    margin: 15px 2px;
    padding: 12px 15px;
    border-left: 3px solid rgba(81,91,212,1);
    background-color: rgba(81,91,212,.05);
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: .05em;
}
.markdown .success {
    border-left-color: rgba(150,193,32,1);
    background-color: rgba(150,193,32,.05);
}
.markdown .warning {
    border-left-color: rgba(255,217,114,1);
    background-color: rgba(255,217,114,.05)
}
.markdown .danger {
    border-left-color: rgba(221,42,123,1);
    background-color: rgba(221,42,123,.05);
}
.markdown .info {
    border-left-color: rgba(129,52,175,1);
    background-color: rgba(129,52,175,.05);
}

.markdown hr{
    margin-bottom: 15px;
    height: 0;
    border: none;
    border-top: 1.5px solid rgba(50, 50, 50, 0.07);
}
.markdown br{
    margin-bottom: 3px;
}
.markdown code{
    overflow: auto;
    word-wrap:break-word;
    font: .9em Consolas, "Liberation Mono", Menlo, Courier, PingFang SC,Hiragino Sans GB,Microsoft YaHei, monospace;
    padding: .2em .4em .1em;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    margin: 0 .2em;
    color: #f04a62;
}
.markdown pre{
    overflow: auto;
    word-wrap: break-word;
    line-height: 1.1;
    padding: 16px 16px 12px;
    overflow: auto;
    border-radius: 3px;
    background-color: #282828;
    margin: 17px 0 24px;
    tab-size: 4;
}
.markdown pre code {
    color: #ebdbb2;
}
.markdown ul pre, .markdown ol pre {
    margin-left: -10px;
    margin-top: 10px;
}
.hljs-comment, .hljs-emphasis {
    font-style: inherit !important;
}
.markdown pre code{
    font: 16px Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
    padding-bottom: 7px;
}
.markdown table{
    margin: 20px 7px 22px;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}
.markdown table th {
    font-weight: 600;
}
.markdown table th,
.markdown table td {
    padding: 8px 14px;
    border: 1px solid #dfe2e5;
}

.markdown table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}
