.markdown{
    font-size: 15px;
    margin-top: 26px;
}
.markdown a:hover{
    text-decoration: underline;
}
.markdown a {
    font-size: .93em;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4{
    color: #555;
}
.markdown h1{
    padding: 7px 7px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 13px;
    font-size: 19px;
    cursor: pointer;
}
.markdown h2{
    padding: 5px 4px;
    font-size: 18px;
    margin-bottom: 13px;
    color: #111;
    font-weight: 400;
    position: relative;
}
.markdown h2:before{
    content: '#';
    font-size: 18px;
    color: #eb5055;
    font-weight: 600;
    position: absolute;
    top: 5px;
    left: -15px;
}
.markdown h3{
    padding: 4px 12px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #222;
    font-weight: 400;
    position: relative;
}
@keyframes anchorTarget {
    0%{
        color: #000;
    }
    40% {
        color: #fff;
    }
    100%{
        color: #000;
    }
}
/* .markdown h1:target,
.markdown h2:target,
.markdown h3:target,
.markdown h4:target,
.target:target {
    padding-top: 124px;
    margin-top: -120px;
    color: #000;
    animation: anchorTarget .9s linear;
    z-index: -9;
}
.markdown h1:target:before,
.markdown h2:target:before,
.markdown h3:target:before,
.markdown h4:target:before,
.target:before {
    padding-top: 120px;
} */
.markdown h3:before{
    content: '@';
    font-size: 19px;
    color: #9b45e4;
    position: absolute;
    top: 5px;
    left: -7px;
}
.markdown b {
    padding: 0 2px;
    color: #555;
    font-family: 'Roboto Mono',Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei Light,SimSun,sans-serif;
}
.markdown>p{
    font-size: 17px;
    line-height: 1.7;
    color: #233;
    margin-bottom: 15px;
}
.markdown ul, .markdown ol{
    margin: 18px 0;
    font-size: 17px;
    color: #2b2c25;
    padding-left: 2em;
}
.markdown ul li,.markdown ol li{
    margin-bottom: 8px;
    padding-left: 5px;
}
.markdown ul li{
    list-style-type: disc !important;
}
.markdown ol li{
    list-style-type: decimal !important;
}
.markdown ul ul li, .markdown ol ul li {
    list-style-type: circle !important;
}
.markdown ol ol li {
    list-style-type: lower-alpha !important;
}
.markdown ul ol li {
    list-style-type: lower-roman !important;
}
.markdown ul ul ul li {
    list-style-type: square !important;
}
.markdown img{
    max-width: 100%;
    padding-top: 4px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.2) 0 1px 1px;
}
.markdown blockquote{
    margin: 15px 4px;
    padding: 12px 12px;
    color: #444;
    border-left: 5px solid #409EFF;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.5;
    background-color: #f8f8f8;
    letter-spacing: .05em;
}
.markdown .success {
    border-left-color: #67C23A;
}
.markdown .warning {
    border-left-color: #E6A23C;
}
.markdown .danger {
    border-left-color: #F56C6C;
}
.markdown .info {
    border-left-color: #909399;
}

.markdown hr{
    margin-bottom: 15px;
    height: 0;
    border: none;
    border-top: 1.8px solid #e7e7e7;
}
.markdown br{
    margin-bottom: 3px;
}
.markdown code{
    overflow: auto;
    word-wrap:break-word;
    font: .9em Consolas, "Liberation Mono", Menlo, Courier, PingFang SC,Hiragino Sans GB,Microsoft YaHei, monospace;
    padding: .2em .4em .1em;
    background-color: rgba(0,0,0,0.05);
    border-radius: 3px;
    margin: 0 .2em;
}
.markdown pre{
    overflow: auto;
    word-wrap: break-word;
    line-height: 1.1;
    padding: 16px 16px 12px;
    overflow: auto;
    border-radius: 3px;
    background-color: #282828;
    margin: 15px 0 22px;
    tab-size: 4;
}
.markdown ul pre, .markdown ol pre {
    margin-left: -10px;
    margin-top: 10px;
}
.hljs-comment, .hljs-emphasis {
    font-style: inherit !important;
}
.markdown pre code{
    font: 16px Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
    padding-bottom: 12px;
}
.markdown table{
    margin: 13px 7px 15px;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}
.markdown table th {
    font-weight: 600;
}
.markdown table th,
.markdown table td {
    padding: 8px 14px;
    border: 1px solid #dfe2e5;
}

.markdown table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}