.markdown{
    font-size: 16px;
    margin-top: 26px;
}
/* .markdown > :not(pre){ */
/*     word-spacing: 0px; */
/* } */
.markdown a {
    margin: 0 2px;
    text-decoration: underline;
}
.markdown h1, .markdown h2, .markdown h3{
    color: #555;
}
.markdown h4 {
    color: #444;
    border-bottom: 1.5px solid #555;
    display: inline-block;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.markdown h1{
    padding: 7px 7px;
    border-bottom: 1px solid #e7e7e7;
    margin: 15px 0 15px;
    font-size: 18px;
    cursor: pointer;
}
.markdown h2{
    padding: 5px 4px;
    font-size: 18px;
    margin: 25px 0 15px;
    color: #050505;
    font-weight: 500;
    line-height: 16px;
    position: relative;
}
.markdown h2:before{
    content: '#';
    font-size: 18px;
    color: rgb(235 80 85 / 85%);;
    font-weight: 600;
    position: absolute;
    top: 4px;
    left: -14px;
}
.markdown h3{
    padding: 4px 12px;
    font-size: 17px;
    margin: 20px 0 15px;
    color: #181818;
    font-weight: 500;
    position: relative;
    line-height: 16px;
}
.markdown h3:before{
    content: '*';
    font-size: 21px;
    color: #9b45e4;
    position: absolute;
    font-weight: 600;
    top: 7px;
    left: -5px;
}
@keyframes anchorTarget {
    0%{
        color: #000;
    }
    40% {
        color: #fff;
    }
    100%{
        color: #000;
    }
}
/* .markdown h1:target,
.markdown h2:target,
.markdown h3:target,
.markdown h4:target,
.target:target {
    padding-top: 124px;
    margin-top: -120px;
    color: #000;
    animation: anchorTarget .9s linear;
    z-index: -9;
}
.markdown h1:target:before,
.markdown h2:target:before,
.markdown h3:target:before,
.markdown h4:target:before,
.target:before {
    padding-top: 120px;
} */
.markdown b {
    padding: 0 2px;
    color: var(--read-bold-color);
    font-size: 15px;
}
.markdown>p{
    line-height: 1.77;
    margin-bottom: 19px;
}
.markdown ul, .markdown ol{
    margin: 18px 0;
    font-size: 16px;
    padding-left: 2em;
}
.markdown ul li,.markdown ol li{
    margin-bottom: 5px;
    padding-left: 5px;
    line-height: 1.7rem;
}
.markdown ul li{
    list-style-type: disc !important;
}
.markdown ol li{
    list-style-type: decimal !important;
}
.markdown ul ul li, .markdown ol ul li {
    list-style-type: circle !important;
}
.markdown ol ol li {
    list-style-type: lower-alpha !important;
}
.markdown ul ol li {
    list-style-type: lower-roman !important;
}
.markdown ul ul ul li {
    list-style-type: square !important;
}
.markdown img{
    max-width: 100%;
    padding-top: 4px;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.2) 0 1px 1px;
}
.markdown blockquote{
    margin: 15px auto;
    padding: 8px 2px 8px 10px;
    border-left: 3px solid rgba(var(--md-bq-color));
    background-color: rgba(var(--md-bq-color), var(--md-bq-opacity));
    word-wrap: break-word;
    line-height: 1.5;
}
.markdown blockquote>p:not(:last-child){
    margin-bottom: 8px;
}
.markdown blockquote>pre:not(:last-child){
    margin-bottom: 5px;
}
.markdown .success {
    border-left-color: rgba(var(--md-bq-success-color));
    background-color: rgba(var(--md-bq-success-color), var(--md-bq-opacity));
}
.markdown .warning {
    border-left-color: rgba(var(--md-bq-warning-color));
    background-color: rgba(var(--md-bq-warning-color), var(--md-bq-opacity));
}
.markdown .danger {
    border-left-color: rgba(var(--md-bq-danger-color));
    background-color: rgba(var(--md-bq-danger-color), var(--md-bq-opacity));
}
.markdown .info {
    border-left-color: rgba(var(--md-bq-info-color));
    background-color: rgba(var(--md-bq-info-color), var(--md-bq-opacity));
}

.markdown hr{
    margin-bottom: 15px;
    height: 0;
    border: none;
    border-top: 1.5px solid rgba(50, 50, 50, 0.07);
}
.markdown br{
    margin-bottom: 3px;
}
.markdown code{
    overflow: auto;
    word-wrap:break-word;
    font: .9em Consolas, "Liberation Mono", Menlo, Courier, PingFang SC,Hiragino Sans GB,Microsoft YaHei, monospace;
    padding: .2em .4em .1em;
    border-radius: 3px;
    margin: 0 .2em;
    color: var(--md-code-color);
    background-color: var(--md-code-bg-color);
}
.markdown pre .code-copy-btn{
    content: "copy";
    font-family: var(--ui-font);
    font-size: 14px;
    color: var(--md-pre-copy-btn-color);
    cursor: pointer;
    padding: 0px;
    position: absolute;
    top: -4px;
    right: 5px;
    transition: opacity 0.2s;
    opacity:0;
}
.markdown pre:hover .code-copy-btn{
    opacity:1;
}
.markdown pre{
    position: relative;
    overflow: auto;
    word-wrap: break-word;
    padding: 2px;
    overflow: auto;
    border-radius: 3px;
    background-color: #1a1b26;
    tab-size: 4;
}
.markdown>pre {
    margin: 17px 0 24px;
}
.markdown pre code {
    color: #c0caf5;
}
.markdown ul pre, .markdown ol pre {
    margin-left: -10px;
    margin-top: 10px;
}
.hljs-comment, .hljs-emphasis {
    font-style: inherit !important;
}
.markdown pre code{
    font: 16px Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
    padding-bottom: 7px;
}
.markdown table{
    margin: 20px 7px 22px;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}
.markdown table th {
    font-weight: 600;
}
.markdown table th,
.markdown table td {
    padding: 8px 25px;
    border: 1px solid #dfe2e5;
}

.markdown table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}
