.m-a .markdown {
    margin: 0 auto;
}
.m-a .markdown h1 {
    display: flex;
    justify-content: center;
    margin: 15px 20px 18px;
    padding-bottom: 10px;
    cursor: default;
    border-bottom: 1.2px solid rgba(50, 50, 50, 0.08);
}
.m-a .markdown h1 i {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
}
.m-a .markdown h1 img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.4s;
}
.m-a .markdown h1 i:hover img{
    transform: scale(1.2);
}
.m-a .markdown h1 i:hover {
    box-shadow: 0 0 4px #c55781;
}
.m-a .markdown h2::before {
    position: initial;
    margin-right: 9px;
    content: '⚓️';
}
.m-a .markdown h2 {
    color: #05dfd7;
}
.m-a .markdown h2, .m-a .markdown h3{
    padding-left: 12px;
}
.m-a .markdown ul {
    padding-left: 2.7em;
    margin: 12px 0;
}
.m-a .markdown ul li {
    line-height: 1.65em;
    padding-right: 22px;
}
.m-a .markdown h3::before {
    position: initial;
    margin-right: 9px;
    content: '🍥';
}
.m-a .markdown h3 {
    color: #f35588;
}
.m-a .markdown h2 i, .m-a .markdown h3 i {
    font-size: 19px;
}
/* 新标题 */
.m-a .markdown h4 {
    display: block;
    position: relative;
    padding: 5px 4px;
    font-size: 18px;
    margin: 20px 0 10px;
    color: #111;
    padding-left: 12px;
    font-size: 18px;
    border: none;
    font-weight: normal;
}
.m-a .markdown h4::before {
}
.m-a .markdown>p {
    margin: 0 28px 13px;
}
.m-a .markdown img {
    margin: 2px 24px;
}
.m-a .markdown i {
    font-size: .9em;
}
.m-a .markdown pre {
    margin: 17px 25px;
    font-size: 17px;
    color: #fff;
    background-color: #232323;
}
.m-a .markdown pre code {
    color: #eee
}
.m-a .markdown blockquote {
    padding: 13px 20px;
    margin: 12px 25px 24px;
}
.m-a .markdown blockquote.info {
    border-color: purple;
}
.m-a .markdown blockquote.ab-icon {
    background-color: #fff;
    border-left: none;
    margin: 0px 25px;
}
.m-a .markdown blockquote.ab-icon p {
    display: flex;
    justify-content: center;
}
.m-a .markdown blockquote.ab-icon p a {
    transition: all 0.2s;
}
.m-a .markdown blockquote.ab-icon a:hover {
    transform: translateY(-3px);
}
.m-a .markdown blockquote.ab-icon svg {
    font-size: 20px;
    height: 31px;
    width: 31px;
    margin: 0 9px !important;
    border: none;
    box-shadow: none;
    opacity:0.8;
    transition: .3s;
    position: relative;
}
.m-a .markdown blockquote a {
    font-weight: 100;
    font-size: 17px;
    margin-left: 3px;
}

@media screen and (max-width: 750px) {
    #content {
        width: 100% !important;
    }
}
