#content {
    width: 680px;
}
.markdown {
    margin: 0 auto;
}
.markdown h1 {
    text-align: center
}
.markdown h2 a {
    font-size: 1em !important;
}
.markdown h3::before {
    position: initial;
    margin-right: 7px;
    color: #ff5151;
}
.markdown h3 {
    padding-left: 15px;
}
.markdown h1 img {
    height: 67px;
    width: 67px;
    border-radius: 50%;
}
.markdown i {
    font-size: .9em;
}
.markdown a code {
    font-size: 1em !important;
    color: #455 !important;
}
.markdown blockquote {
    margin: 20px 19px;
}
.markdown blockquote.icon {
    background-color: #fff;
    border-left: none;
    text-align: center;
}
.markdown blockquote.icon img {
    height: 33px;
    width: 33px;
    margin-left: 7px;
    border: none;
    box-shadow: none;
}
.markdown blockquote a {
    font-weight: 100;
    font-size: 17px;
    margin-left: 3px;
}