.markdown {
    margin: 0 auto;
    padding: 0 10px;
}
.markdown h1 {
    text-align: center;
    margin-bottom: 18px;
}
.markdown h1 img {
    height: 67px;
    width: 67px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
.markdown h2::before {
    position: initial;
    margin-right: 9px;
    content: '⚓️';
}
.markdown h2 {
    color: #05dfd7;
}
.markdown h2, .markdown h3{
    padding-left: 12px;
}
.markdown ul {
    padding-left: 2.7em;
}
.markdown h3::before {
    position: initial;
    margin-right: 9px;
    content: '🍥';
}
.markdown h3 {
    color: #f35588;
}
.markdown h2 i, .markdown h3 i {
    font-size: 19px;
}
.markdown img {
    margin: 2px 24px;
}
.markdown i {
    font-size: .9em;
}
.markdown a code {
    font-size: 1em !important;
    color: #455 !important;
}
.markdown pre {
    margin: 20px 25px;
    font-size: 17px;
    color: #fff;
}
.markdown blockquote {
    padding: 13px 20px;
    margin: 10px 25px; 
}
.markdown blockquote.info {
    border-color: purple;
}
.markdown blockquote.ab-icon {
    background-color: #fff;
    border-left: none;
    text-align: center;
}
.markdown blockquote.ab-icon img {
    height: 31px;
    width: 31px;
    margin: 0 4px !important;
    border: none;
    box-shadow: none;
    opacity:0.8;
    transition: .3s;
    position: relative;
}
.markdown blockquote.ab-icon img:hover {
    opacity: 1;
    transition: .4s;
    bottom: 2px;
}
.markdown blockquote a {
    font-weight: 100;
    font-size: 17px;
    margin-left: 3px;
}