.m-c .m-cc li, .m-c .m-cc p {
    margin: 0;
}
.icon-code {
    font-size: 20px;
}
.search-input {
    text-align: center;
    margin: 17px 0;
}
.search-input input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(100,100,100,.2);
    box-sizing: border-box;
    border-radius: 3px;
    color: #606266;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font: 16px Consolas,"Liberation Mono",Menlo,Courier,"Noto Sans SC",monospacea;
    letter-spacing: 1px;
    outline: none;
    padding: 0 15px;
    transition: border-color .3s;
    width: 44.5%;
    color: #4d3e3e
}
.search-input input:focus {
    border-color: aqua;
}
.search-result .next {
    text-align: center;
}
.search-result .next a {
    color: #3d00bf;
}
.search-result .search-item {
    margin: 5px 0 22px;
}
.search-result blockquote {
    margin: 12px 0 2px;
    padding: 5px 5px 0;
    color: #555;
    word-wrap: break-word;
    font-size: 18px;
}
.search-result blockquote span {
    color: #777;
    font-size: 15px;
}

.search-result .tags {
    padding: 5px 10px;
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid rgba(100,100,100,.15);
    color: #909399;
    border-radius: 4px;
    font-family: 'Space mono';
}
.search-result pre {
    border: 1px solid rgba(100,100,100,.15);
    overflow: auto;
    word-wrap: break-word;
    line-height: 1.1;
    padding: 10px 16px;
    border-radius: 3px;
    margin: 5px 0;
    tab-size: 4;
}
.search-result pre code {
    font: 15px Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace !important;
}
.search-result em {
    border-bottom: 2px solid aqua;
    border-radius: 2px;
    font-style: normal;
}

.m-c .hljs {
    border: 0;
    font-size: 12px;
    display: block;
    margin: 0;
    font-weight: 200;
    white-space: pre-wrap;
    background-color: inherit !important;
}
.m-c .hljs ol {
    list-style: decimal;
    margin: 0 0 0 27px !important;
    padding: 0;
}
.m-c .c-md .hljs ol {
    margin: 0 !important;
}
.m-c .hljs ol li {
    padding: 2px 7px!important;
    margin: 0 !important;
    white-space: pre;
    color: rgba(27,31,35,.3);
}

.m-c .hljs ol li .cl {
    color: #555;
}

.m-c .c-md:hover {
    cursor: pointer;
    border: 1px solid rgba(100,100,100,.2);
    border-radius: 5px;
}

.search-item a:hover {
    text-decoration: underline;
}

.m-c .m-cc {
    padding: 10px 12px 5px;
    display: none;
}
.m-c .m-cc > p {
    font-size: 15px;
    margin: 4px 5px 6px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-break: break-word;
    line-height: 140%;
}
.m-c .m-cc a {
    font-family: -apple-system, "Roboto Mono", "Microsoft Yahei Light","Microsoft YaHei", sans-serif;
}
.m-c .m-cc h1:before{
    content: '#';
    margin-right: 6px;
    font-size: 19px;
    color: #888;
}
.m-c .m-cc h1{
    padding: 5px 4px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #111;
    font-weight: 400;
}
.m-c .m-cc h3{
    padding: 4px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #222;
    font-weight: 400;
    position: relative;
}
.m-c .m-cc h3:before{
    content: '@';
    font-size: 19px;
    color: #9b45e4;
    position: absolute;
    top: 3px;
    left: -5px;
}
.m-c .m-cc ul, .m-c .m-cc ol{
    margin: 10px 0 12px;
    font-size: 15px;
    color: #494949;
    padding-left: 1.7em;
}
.m-c .m-cc ul li,.m-c .m-cc ol li{
    margin-bottom: 7px;
    padding-left: 5px;
    font-family: 'Roboto Mono',Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,'Noto Sans SC',Microsoft YaHei,SimSun,sans-serif;
}
.m-c .m-cc ul li{
    list-style-type: disc !important;
}
.m-c .m-cc ol li{
    list-style-type: decimal !important;
}
.m-c .m-cc ul ul li, .m-c .m-cc ol ul li {
    list-style-type: circle !important;
}
.m-c .m-cc ol ol li {
    list-style-type: lower-alpha !important;
}
.m-c .m-cc ul ol li {
    list-style-type: lower-roman !important;
}
.m-c .m-cc ul ul ul li {
    list-style-type: square !important;
}
.m-c .m-cc blockquote{
    margin: 11px 3px;
    padding: 8px 13px;
    border-radius: 4px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.6;
    font-family: -apple-system, "Roboto Mono","Microsoft YaHei", sans-serif;
    background-color: #eee;
    color: #000;
}
.m-c .m-cc blockquote blockquote {
    margin: 3px 0;
}
.m-c .m-cc blockquote.book {
    border: 0;
    padding: 7px 10px;
    font-size: 15px;
    font-style: italic;
    margin: 3px 0 5px;
    color: #333;
    background-color: #fff;
    text-decoration: underline;
}
.m-c .m-cc .success {
    background-color: #f0f9eb;
    color: #67c23a;
}
.m-c .m-cc .warning {
    background-color: #fdf6ec;
    color: #e6a23c;
}
.m-c .m-cc .danger {
    color: #f56c6c;
    background-color: #fef0f0;
}
.m-c .m-cc .info {
    background-color: #f4f4f5;
    color: #909399;
}

.m-c .m-cc hr{
    margin-bottom: 10px;
    height: 0.15em;
    background-color: #e7e7e7;
    border: 0;
}
.m-c .m-cc br{
    margin-bottom: 3px;
}
.m-c .m-cc img{
    max-width: 100%;
    padding-top: 4px;
    border-radius: 6px;
}
.m-c .m-cc pre{
    margin: 5px .2em 10px;
}
.m-c .m-cc ul pre, .m-c .m-cc ol pre {
    margin-left: -13px;
    margin-top: 12px;
}
.m-c .m-cc pre code{
    background-color: #fff !important;
    display: block;
    padding: 0;
}
.m-c .m-cc code{
    overflow: auto;
    word-wrap:break-word;
    font: .9em Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
    padding: 2px 8px !important;
    background-color: rgba(0,0,0,0.04) !important;
    display: inline;
    border-radius: 3px;
    margin: 0 .2em;
}
@media screen and (max-width: 750px) {
    .search-item {
        padding: 0 3px;
        word-wrap: break-word;
    }
    #searchInput {
        width: 97%;
    }
}
