.markdown li, .markdown p {
    margin: 0;
    font-family: 'Roboto Mono',Helvetica Neue,Helvetica, Microsoft YaHei,SimSun,sans-serif !important;
}
.icon-code {
    font-size: 20px;
}
.search-input {
    text-align: center;
    margin: 17px 0;
}
.search-input input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 3px;
    color: #606266;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font: 17px Consolas,"Liberation Mono",Menlo,Courier,"Noto Sans SC",monospacea;
    outline: none;
    padding: 0 15px;
    transition: border-color .3s;
    width: 44.5%;
}
.search-input input:focus {
    border-color: aqua;
}
.search-result .search-item {
    margin: 5px 0 22px;
}
.search-result blockquote {
    margin: 12px 0 2px;
    padding: 5px 5px 0;
    color: #555;
    word-wrap: break-word;
    font-size: 18px;
}
.search-result blockquote span {
    color: #777;
    font-size: 15px;
}

.search-result .tags {
    padding: 5px 10px;
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid #dedede;
    color: #909399;
    border-radius: 4px;
}
.search-result pre {
    border: 1px solid #ddd;
    overflow: auto;
    word-wrap: break-word;
    line-height: 1.1;
    padding: 10px 16px;
    border-radius: 3px;
    margin: 5px 0;
    tab-size: 4;
}
.search-result pre code {
    font: 15px Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
}
.search-result em {
    border-bottom: 2px solid aqua;
    margin: 0 2px;
    padding: 0 4px;
    border-radius: 2px;
    font-style: normal;
}

.hljs {
    border: 0;
    font-size: 12px;
    display: block;
    padding: 1px;
    margin: 0;
    width: 100%;
    font-weight: 200;
    white-space: pre-wrap;
    background-color: inherit !important;
}
.hljs ol {
    list-style: decimal;
    margin: 0 0 0 27px !important;
    padding: 0;
}
.c-md .hljs ol {
    margin: 0 !important;
}
.hljs ol li {
    padding: 2px 7px!important;
    margin: 0 !important;
    white-space: pre;
    color: rgba(27,31,35,.3);
}

.hljs ol li .cl {
    color: #555;
}

.c-md:hover {
    cursor: pointer;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.search-item a:hover {
    text-decoration: underline;
}

.markdown {
    padding: 15px 12px;
    display: none;
    animation: fade-in;
    animation-duration: .3s;
    -webkit-animation: fade-in .3s
}
.markdown>p {
    font-size: 15px;
    margin-bottom: 10px;
}
.markdown a {
    font-family: -apple-system, "Roboto Mono", "Microsoft Yahei Light","Microsoft YaHei", sans-serif;
}
.markdown h1:before{
    content: '#';
    margin-right: 6px;
    font-size: 19px;
    color: #888;
}
.markdown h1{
    padding: 5px 4px;
    font-size: 18px;
    margin-bottom: 10px;
    color: #111;
    font-weight: 400;
}
.markdown h3{
    padding: 4px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #222;
    font-weight: 400;
    position: relative;
}
.markdown h3:before{
    content: '@';
    font-size: 19px;
    color: #9b45e4;
    position: absolute;
    top: 3px;
    left: -5px;
}
.markdown ul, .markdown ol{
    margin: 13px 0;
    font-size: 16px;
    color: #2b2c25;
    padding-left: 1.7em;
}
.markdown ul li,.markdown ol li{
    margin-bottom: 7px;
    padding-left: 5px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
.markdown ul li{
    list-style-type: disc !important;
}
.markdown ol li{
    list-style-type: decimal !important;
}
.markdown ul ul li, .markdown ol ul li {
    list-style-type: circle !important;
}
.markdown ol ol li {
    list-style-type: lower-alpha !important;
}
.markdown ul ol li {
    list-style-type: lower-roman !important;
}
.markdown ul ul ul li {
    list-style-type: square !important;
}
.markdown blockquote{
    margin: 10px 4px;
    padding: 8px 10px;
    color: #666;
    border-left: 5px solid #409EFF;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.6;
    background-color: #f8f8f8;
    font-family: -apple-system, "Roboto Mono","Microsoft YaHei", sans-serif;
}
.markdown blockquote.book {
    border: 0;
    padding: 10px;
    font-size: 15px;
    font-style: italic;
    margin: 3px 0;
    color: #333;
    background-color: #fff;
}
.markdown .success {
    border-left-color: #67C23A;
}
.markdown .warning {
    border-left-color: #E6A23C;
}
.markdown .danger {
    border-left-color: #F56C6C;
}
.markdown .info {
    border-left-color: #909399;
}

.markdown hr{
    margin-bottom: 10px;
    height: 0.15em;
    background-color: #e7e7e7;
    border: 0;
}
.markdown br{
    margin-bottom: 3px;
}
.markdown img{
    max-width: 100%;
    padding-top: 4px;
    border-radius: 6px;
}
.markdown pre{
    margin: 5px .2em 10px;
}
.markdown ul pre, .markdown ol pre {
    margin-left: -13px;
    margin-top: 12px;
}
.markdown pre code{
    background-color: #fff !important;
    display: block;
    padding: 0;
}
.markdown code{
    overflow: auto;
    word-wrap:break-word;
    font: .9em Consolas, "Liberation Mono", Menlo, Courier, "Microsoft Yahei Light", monospace;
    padding: 0 8px 0;
    background-color: rgba(0,0,0,0.04) !important;
    display: inline;
    border-radius: 3px;
    margin: 0 .2em;
}
@media screen and (max-width: 750px) {
    .search-item {
        padding: 0 3px;
        word-wrap: break-word;
    }
    #searchInput {
        width: 97%;
    }
}