.m-l .markdown {
    padding: 0 36px;
}
.m-l .comment {
    padding-left: 40px;
    width: 90% !important;
}
.m-l .markdown h1 {
    font-size: 17px;
    padding: 15px 12px;
    border-bottom: 1.2px solid rgba(50,50,50,.05);
    margin-bottom: 17px;
    color: #233;
}
.m-l .markdown h2{
    color: #555;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    line-height: 1.8;
    padding: 6px 12px;
    border-bottom: 1px solid #eee;
    margin-bottom: 17px;
    margin-top: 30px;
    font-size: 18px;
}
.m-l .markdown h3 {
    font-size:17px;
    padding: 5px 18px 0;
    color: #777;
    margin: 0;
}
.m-l .markdown h3:before {
    content: '';
}
.m-l .markdown blockquote {
    font-size: 16px;
    color: #444;
    list-style: none;
    padding: 5px 10px 12px;
    margin: 11px 8px;
    border: 1px solid rgba(100, 100, 100, .18);
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.1s;
}

.m-l .markdown blockquote code {
    background-color: #fff;
    font-size: 15px;
    font-family: -apple-system, "Roboto Mono", "Microsoft Yahei Light","Microsoft YaHei", sans-serif;
    font-weight: 600;
    color: #aaa;
    letter-spacing: .03rem;
    float: right;
    line-height: 43px;
    margin-right: 5px;
}
/* .m-l .markdown blockquote code::before {
    content: '//';
    margin-right: 3px;
} */
.m-l .markdown blockquote code i {
    font-style: normal;
    margin-left: 3px;
}
.m-l .markdown blockquote a {
    letter-spacing: .04rem;
    width: 100%;
    display: block;
}
.m-l .markdown blockquote:hover {
    box-shadow: rgba(0,0,0,.05) 0 1px 2px;
    transition: box-shadow 0.1s;
}
.m-l .markdown blockquote a:hover {
    color: deeppink;
    text-decoration: none;
}
.m-l .markdown blockquote img {
    padding-top: 0;
    width: 30px;
    height: 30px;
    position: relative;
    top: 6px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.2) 0 1px 3px;
    margin-right: 26px;
}
.m-l .markdown code {
    color: #ff847c;
}
.m-l .markdown pre code {
    padding: 0;
    margin: 0;
    color: #ddd;
    font: 15px Consolas,"Liberation Mono",Menlo,Courier,PingFang SC,Hiragino Sans GB,Microsoft YaHei,monospace;
}

.m-l .markdown>p {
    font-size: 15px;
    color: #3a3a3a;
    padding: 0 10px;
}

.m-l{
    /* width: 633px !important;
    margin-top: 78px; */
    padding-bottom: 1px!important;
}
.m-l .comment{
    width: 100%;
    margin-top: 20px !important;
}
.m-l .comment textarea {
    width: 95% !important;
}
.m-l .comment .exp {
    margin-left: 77% !important;
}
.m-l .comment{margin:20px 0 50px !important}
.m-l .com-list{width: 100% !important}
.m-l #com_up {
    margin-left: 8px;
}
.m-l .com a::after {
    content: '';
}
.m-l .comment label {
    width: 14% !important;
}
.m-l .info {
    font-size: 14px !important;
    border: 0 !important;
    border-left: 3px solid rgba(100,100,100,.18) !important;
    border-radius: 0 !important;
    padding: 2px 10px !important;
}
.m-l .info code{
    font-size: 14px !important;
    float: none !important;
    line-height: normal !important;
    padding: 0 !important;
    margin: 0 !important;
    letter-spacing: 0!important;
}
.m-l .info a{
    display: inline!important;
    letter-spacing: 0!important;
}
.m-l .seed {
    font-size: 14px;
    text-align: center;
    color: green;
    letter-spacing: 0;
    margin: 20px auto 13px;
}
.m-l .seed span{
}

@media screen and (max-width: 750px) {
    .m-l .comment .exp {
        margin-left: 60%!important;
    }
}
